 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/styles.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
  </head>
  
  
<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/dash">Teacher Dashboard</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
      class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
            class="fas fa-search"></i></button>
          </div>
        </form>
        <!-- Navbar-->
        
        <!--profile dialogbox-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          
    <!--dashboard-->
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Core</div>
              <a class="nav-link" href="/dash">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
              </a>
              <div class="sb-sidenav-menu-heading">Select</div>
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
              data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Faculty Evaluation
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-sidenav-light.html">Result Generation</a>
                                
                                <a class="nav-link" href="layout-static.html">Result View</a>
                              </nav>
                            </div>
                          </div>
                        </div>
                        
                        
                        <div class="sb-sidenav-footer">
                          <div class="small">Logged in as:</div>
                          Teacher:
                        </div>
                      </nav>
        </div>
        
        
        <div id="layoutSidenav_content">
          <main>
            <div class="container-fluid px-4">
              <h1 class="mt-4">Dashboard</h1>
              <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Teacher</li>
              </ol>
            </div>
          </main>
          
          
          
<!-- 
          <div class="container">
            <div class="calendar">
              <div class="front">
            <div class="current-date">
              <h1>wednesday 7</h1>
              <h1>June 2023</h1> 
            </div>
            
            <div class="current-month">
              <ul class="week-days">
                <li>MON</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
                <li>SUN</li>
              </ul>
              
              <div class="weeks">
                <div class="first">
                  <span class="last-month">28</span>
                  <span class="last-month">29</span>
                  <span class="last-month">30</span>
                  <span class="last-month">31</span>
                  <span>01</span>
                  <span>02</span>
                  <span>03</span>
                </div>
                
                <div class="second">
                  <span>04</span>
                  <span>05</span>
                  <span class="event">06</span>
                  <span>07</span>
                  <span>08</span>
                  <span>09</span>
                  <span>10</span>
                </div>
                
                <div class="third">
                  <span>11</span>
                  <span>12</span>
                  <span>13</span>
                  <span>14</span>
                  <span class="active">15</span>
                  <span>16</span>
                  <span>17</span>
                </div>
                
                <div class="fourth">
                  <span>18</span>
                  <span>19</span>
                  <span>20</span>
                  <span>21</span>
                  <span>22</span>
                  <span>23</span>
                  <span>24</span>
                </div>
                
                <div class="fifth">
                  <span>25</span>
                  <span>26</span>
                  <span>27</span>
                  <span>28</span>
                  <span>29</span>
                  <span>30</span>
                  <span>31</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                  Date: <span>Jun 23th, 2023</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
            
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
          
        </div>
      </div>
       -->
      
      
      
      
      
      <!--calender etc -->
      
      
      
      
      <!--footer-->
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy;  All rights reserved</div>
                        <div>
                          <a href="#">Privacy Policy</a>
                          &middot;
                          <a href="#">Terms &amp; Conditions</a>
                        </div>
                      </div>
                    </div>
                  </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <script src="static/js/scripts-d.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="static/assets/demo/chart-area-demo.js"></script>
        <script src="static/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
        <!-- <script src="static/js/datatables-simple-demo-d.js"></script>
        <script src="static/js/jscaledner.js"></script> -->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      </body>
      
      </html>