{% extends 'base.html' %}
{% block title %} Filter Grade {% endblock  %}
{% block body %}
<div class="container card p-3">
  <h1 class="mt-4">VIEW</h1>
  <form action= "/filter_By_Grade" method="POST">
    <select class="form-select " name="Select_value" aria-label="select example">
    <option selected>Select</option>
    <option value="1">Result</option>
    <option value="2">F Grade</option>
    <option value="3">1F</option>
    <option value="4">2F</option>
    <option value="5">3F</option>
    <option value="6">4F</option>
    <option value="7">5F</option>
    <option value="8">Above 5</option>
    <option value="9">FE</option>
  </select>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


<h1 class="mt-4">List of failed students</h1>

<table class="table table-hover text-center table-bordered">
    <thead>
        <tr>
        <th scope="col">SNo</th>
        <th scope="col">RegNo</th>
        <th scope="col">Name</th>
        <th scope="col">MAT206</th>
        <th scope="col">CST202</th>
        <th scope="col">CST204</th>
        <th scope="col">CST206</th>
        <th scope="col">EST200</th>
        <th scope="col">MCN202</th>
        <th scope="col">CSL202</th>
        <th scope="col">CSL204</th>
        </tr>
    </thead>
    <tbody>
                        {% for student in students %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ student.RegNo }}</td>
                    <td>{{ student.Name }}</td>
                    <td>{{ student.MAT206 }}</td>
                    <td>{{ student.CST202 }}</td>
                    <td>{{ student.CST204 }}</td>
                    <td>{{ student.CST206 }}</td>
                    <td>{{ student.EST200 }}</td>
                    <td>{{ student.MCN202 }}</td>
                    <td>{{ student.CSL202 }}</td>
                    <td>{{ student.CSL204 }}</td>
                </tr>
                {% endfor %}

    </tbody>
  </table>
  
{% endblock body %}