<!-- <!DOCTYPE html>
<html>
<head>
    <title>CSV File Upload</title>
</head>
<body>
    <h1>Upload a CSV File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file">
        
    

    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Name of batch
        </button>
        <label for="Name of batch"></label>
              <select id="batch" name="batch">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
              
    </div>
        
    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SEMSTER
        </button>
        <label for="Name of batch"></label>
        <select id="semester" name="semester">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
       
    </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
 <table>
  {% for row in numpy_array %}
      <tr>
      {% for cell in row %}
          <td>{{ cell }}</td>
      {% endfor %}
      </tr>
  {% endfor %}
</table> -->
  
<!-- </body>
</html>  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/styles.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

{% block body %}
<nav class="sb-topnav navbar navbar-expand ">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/dash">Teacher Dashboard</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                    class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/logint">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/dash">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Select</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Faculty Evaluation
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">

                            <a class="nav-link" href="/upload">Result Generation</a>
                            <a class="nav-link" href="/filter_By_Grade">Result View</a>

                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Teacher
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Result Generation</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/upload">Dashboard</a></li>
                    <li class="breadcrumb-item active">Result Upload</li>
                </ol>

                    <div class="dotted">
                        <p class="para"> Upload and attach files</p>
                        <div class="box-out">
                            <div class="upl">
                                <img class=uplimg src="static\images\upl.jpeg" alt="upload">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Name of the batch</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="platform" required="required">
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                            

                            
                            <!-- <div class="dropdown">
                                                    <label for="options" class="dropdown-label">Select an Option</label>
                                                    <div class="dropdown-content">
                                                        <select id="options">
                                                            <option value="option1">Option 1</option>
                                                            <option value="option2">Option 2</option>
                                                            <option value="option3">Option 3</option>
                                                        </select>
                                                    </div>
                                                    </div>         -->
                    
                                                    <p>Click on the "Choose File" button to upload a file:</p>
                                                    <form method="POST" action="/upload" enctype="multipart/form-data">
                                                        <input type="file" name="file">
                                                        <input type="submit" value="Upload">
                                                    </form>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                
                
                </div>
        </main>



        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; All right reserved</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="static/js/scripts.js"></script>
    <h1>Upload CSV</h1>
{% endblock body %}
