<!DOCTYPE html>
<html>
<head>
    <title>CSV File view</title>
  
</head>
<body>
    <h1>view a filee</h1>
    <form method="post">
    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Name of batch
        </button>
        <label for="Name of batch"></label>
              <select id="batch" name="batch">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
              
    </div>
        
    <div class="dropdown">
        <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SEMSTER
        </button>
        <label for="Name of batch"></label>
        <select id="semester" name="semester">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
       
    </div>
  <button type="submit" class="btn btn-success" value="Submit">Submit</button>
</form>
<div cl

</body>
</html>